<section class="offset-30 clearfix">

    <form class="form-horizontal position-relative" role="form">
        <div data-ng-show="isLoading" class="spinner-back-drop"></div>
        <img data-ng-show="isLoading" class="load-icon-spinner" src="/content/images/ajax-loader.gif" />
        
        <div class="form-group">
            <p class="bottom-offset-small">Please signin using your Username and Password if you have a account with us, or hit Signup to create a new account below.</p>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                <button data-dismiss="alert" class="close" type="button">x</button>
                <strong>{{message}}</strong>
            </div>
            <label for="inputUsername" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signIn(user.username, user.password)">Sign In</button>
                <a class="btn btn-lg btn-default btn-block col-sm-1" href="#/admin/register">Signup</a>
            </div>
        </div>
    </form>
</section>